div.infoContainer {
  background: radial-gradient(
    52.39% 153.75% at 50% 50%,
    rgba(0, 108, 189, 0.75) 0%,
    #006cbd 100%
  );
}

div.logoContainer {
    margin-left: 4%;
  }

div.heroImg {
  position: absolute;
  width: 408px;
  height: 516px;
  top: 50px;
  right: 50px;
}

@media screen and (max-width: 1264px) {
  div.heroImg {
    width: 350px;
    height: 422px;
  }
  div.logoContainer {
    margin-left: 0;
  }
}

@media screen and (max-width: 1183px) {
  div.logoContainer {
    width: 550px;
    height: 43.44px;
  }
}

@media screen and (max-width: 1166px) {
  div.heroImg {
    right: 30px;
  }
  div.logoContainer {
    width: 480px;
    height: 37.91px;
  }
}

@media screen and (max-width: 1130px) {
  div.heroImg {
    width: 300px;
    height: 379px;
  }
}

@media screen and (max-width: 768px) {
  div.logoContainer {
    width: fit-content;
    height: fit-content;
  }
}
